/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import "compass/reset";
 */
/* line 8, ../sass/main.scss */
.container {
  background: #00853e;
}
/* line 11, ../sass/main.scss */
.container figure#logo-movil img {
  width: 156px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

/* MENU-MOBILE */
/* line 22, ../sass/main.scss */
#icon-movil img {
  width: 80px;
  height: 74px;
}

/* line 26, ../sass/main.scss */
#mobile-menu-button {
  float: right;
  position: relative;
  text-align: center;
}

/* line 31, ../sass/main.scss */
#mobile-main-menu {
  display: none;
  padding: 0;
}

/* line 36, ../sass/main.scss */
#mobile-main-menu a {
  border-top: 1px solid #eee;
  color: #000;
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* line 44, ../sass/main.scss */
#mobile-main-menu li {
  list-style-type: none;
  margin: 0;
}

/* line 48, ../sass/main.scss */
#mobile-main-menu a:hover {
  background-color: #ebebeb;
  color: #aaa;
  text-decoration: none;
}

/* line 53, ../sass/main.scss */
.txtmenu {
  top: 27px;
  margin-right: 9px;
  float: right;
  color: white;
  font-size: 1.1em;
  list-style-type: none;
  position: relative;
}

/* line 62, ../sass/main.scss */
.col-xs-9 {
  padding: 0;
}
