$verde-obscuro:#00853e;
$verde-claro:#7ac043;
$azul:#0054a6;
$negro:#000;
$casi-negro:#4f4f4f;
$blanco:#fff;

#bg {
  background-image: url("../img/bgimter.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.contacto{
    h1{
      font-size: 1.5em;
      text-align: center;
    }
}
.imagen-captcha-btn{
  list-style-type: none;
  margin-bottom: 16px;
  text-align: center;
}

#mapa{
  background: #dcdcdc;
  height: 400px;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .contacto{
    h1{
      margin-top: 200px;
      text-align: left;
    }
    p{
      float: right;
    }
  }


  .tel-ubicacion{
    text-align: center;
    ul{
      list-style-type: none;
    }
  }

  input[type=submit].btn-block {
    float: right;
    margin-right: 10px;
    width: 30%;
  }
  #mensaje{
    height: 200px;
  }

  .img-captcha{
    max-width: 200px;
  }
}