/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import "compass/reset";
 */
$verde-obscuro:#00853e;
$verde-claro:#7ac043;
$azul:#0054a6;
$negro:#000;
$casi-negro:#4f4f4f;
$blanco:#fff;
.container{
	figure#logo-movil{
		img{
			width: 156px;
			height: auto;
			display: inline-block;
			vertical-align: top;
		}
	}
	
}


/* MENU-MOBILE */
#icon-movil img{
	height: 74px;
	width: 80px;
}
#mobile-menu-button{
	float: right;
	position: relative;
	text-align: center;
}
#mobile-main-menu{ 
	display: none;
	margin: 0;
	padding: 0;
	#servicios-movil{
		padding: 0;
		display: none;
	}
}

#mobile-main-menu a{
	border-top: 1px solid #eee;
	color: #000;
	display: block;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
#mobile-main-menu li{
	list-style-type: none;
	margin: 0;
}
#mobile-main-menu a:hover{
	background-color: #ebebeb;
	color: #4f4f4f;
	text-decoration: none;
}
#main-menu{
	margin-top: 30px;
}
#main-menu a{
	color: #000;
}
#main-menu:hover{
	color:#a3d900;
}

#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover{
	background: none;
}
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover{
	color: $blanco;
}
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover{
	background: $verde-obscuro;
}
.fondomenu{
	background-color: $verde-obscuro;
}
.logos{
	margin-top: 15px;
}
.txtmenu{
	margin: 0;
    color: white;
    float: right;
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 89px;
    top: 27px;
}
.col-xs-9{
	padding: 0;

}

#container-slider{
	position: fixed;
	img{
		width: 1600px;
		height: auto;
	}
}

.servicios{
	text-align: center;
	h3{
		font-size: 1.1em;
		text-align: center;
		text-transform: uppercase;
	}
	#linea2{
		border-bottom: 1px solid $casi-negro;
		text-align: center;
		width: 30%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	figure{
		display: inline-block;
		margin: 0 auto;
		vertical-align: top;
		img{
			height: auto;
			margin-bottom: 10px;
			max-width: 350px;
			width: 100%;
		}
	}
}





// SLIDER
.carousel-indicators {
    display: none;
}
.carousel-control.left, .carousel-control.right{
	display: none;
}
.item{
	background: $verde-claro;
}
.carousel-caption {
	background: grey;
	padding-left: 9px;
	width: 80%;
    color: $casi-negro;
    color: white;
    display: inline-block;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    .btn-primary {
	    color: #fff;
	    background-color: $verde-claro;
	    border-color: $verde-claro;
	}
	p{
		text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
		font-size: 16px;
	}
}
.flechita{	
	font-size: 4em;
	height: auto;
	margin: 0;
	padding: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    a{
    	color: white;
    }
}


.txt-servicios{
	width: 80%;

}
/* FOOTER MOVIL*/

footer{
	#sociales{
		background: #20358c;
		height: 43px;
		width: 100%;
	}
	.facebook{
		background: #0072bb;
		a{
			margin: 0;
			padding: 0; 
			width: 18px;
			height: 43px;
			text-align: center;
			font-size: 2em;
			line-height: 43px;
			color: white;
		}

	}
	.twitter{
		background: #00bff3;
		a{
			margin: 0;
			padding: 0; 
			width: 18px;
			height: 43px;
			text-align: center;
			font-size: 2em;
			line-height: 43px;
			color: white;
		}
	}
	.google{
		background: #ed1b24;
		a{
			margin: 0;
			padding:0; 	 
			width: 18px;
			height: 43px;
			font-size: 1.5em;
			line-height: 43px;
			color: white;
		}
	}
	.tel{
		background: #20368c;
			text-align: center;
			
		span{
			color: white;
		}
	}
	.muchaweb{
		text-align: center;
	}
}


/* FOOTER DESKTOP */

	.footer-desktop{
		span{
			color: #0072bb;
		}
		ul{
			li{
				list-style-type: none;
				a{
					color: $casi-negro;
				}
			}
		}
		#sociales-desktop{
			a{
				color: $casi-negro;
			}
		}
		.muchaweb-desktop{
			text-align: center;
		}

	}
	



@media screen and (min-width: 768px) {
	.fondomenu{	
	background: none;
    background: rgba(255,255,255,0.5);
    position: absolute;
    width: 100%;
    z-index: 100;
	}

	figure#logo-desktop{
		img{
			height: auto;
			margin-left: 80px;
			width: 100px;
		}
	}


	// SLIDER
.carousel-indicators {
    display: block;
   	bottom: 0;
    left: 300px;
    .active{
    	background-color: $verde-claro;
    }
}
.carousel-control.left, .carousel-control.right{
	display: block;
	margin-top: 70px;
}
.item{
	background: none;
	.flechita{
		display: none;
	}
}
.carousel-caption {
	background: none;
	padding-left: 9px;
	width: 40%;
    color: $casi-negro;
    color: white;
    display: inline-block;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    .btn{
    	position: relative;
    	display: inline-block;
    	vertical-align: middle;
    	left: 100%;
    	bottom: 60px;
    	}
    #linea{
    	border-bottom: 2px solid $verde-claro;
    	width: 65%;
    	}
    	p{
    		margin-bottom: 8px;
    		padding: 0;
    		width: 95%;
    	}
	}
	.carousel {
	    position: relative;    
	}
	


}
	#main-menu{
		font-weight: bold;
		margin-top: 70px;
	}





@media screen and (min-width: 830px) {
	.carousel-caption{
		margin-bottom: 50px;
		p{
		margin: 5px;
		}
	}
}

