$verde-obscuro:#00853e;
$verde-claro:#7ac043;
$azul:#0054a6;
$negro:#000;
$casi-negro:#4f4f4f;
$blanco:#fff;

article{
	.sist-solares{
		text-align: center;
		figure{
			img{
				width: 100%;
				max-height: 250px;
				max-width: 480px;
				height: auto;
			}
		}
		p{
			margin-top: 1em;
			text-align: center;
			font-size: 16px;
		}
		span{
			font-style: italic;
			font-size: 16px;
		}
	}
}

#bg {
  background-image: url("../img/bgimter.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.ssfi{
	 h1{
  	text-align: center;
  	font-size: 1.5em;
  }
  #linea{
			border-bottom: 1px solid $verde-claro;
			width: 50%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
}


#nav{
	float: left;
	width: 280px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}
#nav li a{
	display: block;
	padding: 10px 15px;
	background: #ccc;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #000;
}
nav li a:hover, #nav li a.active{
	background: #999;
	color: #fff;
}
nav li ul{
	display: none;
}
#nav li ul li a{
	padding: 10px 25px;
	background: #ececec;
	border-bottom: 1px dotted #ccc;
}




.container{
	#enphase{
		background: url("../img/enphase.png");
		background-size: 100%;
		width: 124px;
		height: 65px;
		&:hover{
			background: url("../img/enphase-hover.png");
			background-size: 100%;
			width: 124px;
			height: 65px;
			cursor: pointer;
		}
	}
	#yingli{
		background: url("../img/yingli.png");
		background-size: 100%;
		width: 121px;
		height: 72px;
		&:hover{
			background: url("../img/yingli-hover.png");
			background-size: 100%;
			width: 121px;
			height: 72px;
			cursor: pointer;
		}
	}
	#fronius{
		background: url("../img/fronius.png");
		background-size: 100%;
		width: 121px;
		height: 72px;
		&:hover{
			background: url("../img/fronius-hover.png");
			background-size: 100%;
			width: 121px;
			height: 72px;
			cursor: pointer;
		}
	}
	#solar-world{
		background: url("../img/solarworld.png");
		background-size: 100%;
		width: 121px;
		height: 72px;
		&:hover{
			background: url("../img/solarworld-hover.png");
			background-size: 100%;
			width: 121px;
			height: 72px;
			cursor: pointer;
		}
	}
	#jinko{
		background: url("../img/jinko.png");
		background-size: 100%;
		width: 121px;
		height: 72px;
		&:hover{
			background: url("../img/jinko-hover.png");
			background-size: 100%;
			width: 121px;
			height: 72px;
			cursor: pointer;
		}
	}
	#solartec{
		background: url("../img/solartec.png");
		background-size: 100%;
		width: 121px;
		height: 72px;
		&:hover{
			background: url("../img/solartec-hover.png");
			background-size: 100%;
			width: 121px;
			height: 72px;
			cursor: pointer;
		}
	}
}

.proveedores{
	text-align: center;
	h3{
		text-align: center;
		font-size: 18px;
	}
	#linea2{
		margin: 0 auto;
		border: 1px solid black;
		width: 15%;
	}
	ul{
		margin: 30px;
		padding: 0;
		li{
			display: inline-block;
			vertical-align: top;
		}
	}
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.financiamiento{
	text-align: center;
	h3{
		text-align: center;
	}
	#linea2{
		margin: 0 auto;
		border: 1px solid black;
		width: 15%;
		margin-bottom: 10px;
	}
	ul{
		margin: 30px;
		padding: 0;
		li{
			display: inline-block;
			vertical-align: bottom;
		}
	}
	p{
		text-align: center;
	}
	#cibanco{
		background: url("../img/cibanco.png");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 124px;
		height: 70px;
	}
	#nacional-financiera{
		background: url("../img/n-f.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 124px;
		height: 70px;
	}
	#banbajio{
		background: url("../img/banbajio.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 124px;
		height: 70px;
	}
	#imter-financiamiento{
		background: url("../img/imter-financia.png");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 120px;
		height: 94px;
	}
}

@media screen and (min-width: 768px) {
	.ssfi{
		h1{
			margin-top: 180px;
			text-align: left;
		}
		#linea{
			border-bottom: 2px solid $verde-claro;
			width: 30%;
		}
	}

	article{
		.sist-solares{
			text-align: right;
		}
	}


}

@media screen and (min-width: 1200px) {
	#bg {
  background-image: url("../img/bgimter.png");
  width: 100%;
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
	.ssfi{
		h1{
			margin-top: 200px;
		}
		#linea{
			border-bottom: 2px solid $verde-claro;
			width: 30%;
			margin-left: 0;
			margin-bottom: 50px;
		}
	}
}